body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:983px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:831px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:23px;
  width:944px;
  height:831px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:198px;
  width:134px;
  height:102px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:130px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:124px;
  width:134px;
  height:102px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:130px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:273px;
  width:134px;
  height:102px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:130px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:273px;
  width:134px;
  height:102px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:130px;
  word-wrap:break-word;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:249px;
  width:0px;
  height:0px;
}
#u5_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u5_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-78px;
  width:8px;
  height:82px;
}
#u5_seg2 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-78px;
  width:47px;
  height:8px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:249px;
  width:0px;
  height:0px;
}
#u6_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u6_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-4px;
  width:8px;
  height:83px;
}
#u6_seg2 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:71px;
  width:47px;
  height:8px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:19px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:324px;
  width:0px;
  height:0px;
}
#u7_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:273px;
  width:134px;
  height:102px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:130px;
  word-wrap:break-word;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:324px;
  width:0px;
  height:0px;
}
#u9_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:181px;
  height:8px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:46px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:482px;
  width:97px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:556px;
  width:723px;
  height:76px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:76px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:124px;
  width:134px;
  height:102px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:130px;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:175px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:175px;
  width:0px;
  height:0px;
}
#u15_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u15_seg1 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:-4px;
  width:8px;
  height:157px;
}
#u15_seg2 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:145px;
  width:85px;
  height:8px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
