body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:606px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:144px;
  width:1200px;
  height:606px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:363px;
  width:1133px;
  height:224px;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:52px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:52px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:279px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:52px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:0px;
  width:283px;
  height:52px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:279px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:52px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:0px;
  width:284px;
  height:52px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:280px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:52px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:0px;
  width:283px;
  height:52px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:279px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:52px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:283px;
  height:52px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:279px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:52px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:52px;
  width:283px;
  height:52px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:279px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:52px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:52px;
  width:284px;
  height:52px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:280px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:52px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:52px;
  width:283px;
  height:52px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:60px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:104px;
  width:283px;
  height:60px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:279px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:60px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:104px;
  width:283px;
  height:60px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:279px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:60px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:104px;
  width:284px;
  height:60px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:280px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:60px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:104px;
  width:283px;
  height:60px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:60px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:164px;
  width:283px;
  height:60px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:279px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:60px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:164px;
  width:283px;
  height:60px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:60px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:164px;
  width:284px;
  height:60px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:60px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:164px;
  width:283px;
  height:60px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:255px;
  width:122px;
  height:25px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u87_input:disabled {
  color:grayText;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:255px;
  width:64px;
  height:25px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:255px;
  width:122px;
  height:25px;
}
#u90_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u90_input:disabled {
  color:grayText;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:255px;
  width:64px;
  height:25px;
}
#u91_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:435px;
  width:71px;
  height:25px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:67px;
  word-wrap:break-word;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:486px;
  width:71px;
  height:25px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:67px;
  word-wrap:break-word;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:541px;
  width:71px;
  height:25px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:67px;
  word-wrap:break-word;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:177px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
