body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1733px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1562px;
  height:778px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:153px;
  width:1562px;
  height:778px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:273px;
  width:300px;
  height:85px;
}
#u188_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:85px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
}
#u188_input:disabled {
  color:grayText;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:273px;
  width:302px;
  height:85px;
}
#u189_input {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:85px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:center;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:273px;
  width:145px;
  height:85px;
  font-size:36px;
  text-align:center;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:145px;
  word-wrap:break-word;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:center;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:273px;
  width:145px;
  height:85px;
  font-size:36px;
  text-align:center;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:145px;
  word-wrap:break-word;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:186px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:411px;
  width:300px;
  height:85px;
}
#u193_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:85px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
}
#u193_input:disabled {
  color:grayText;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:center;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:411px;
  width:145px;
  height:85px;
  font-size:36px;
  text-align:center;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:145px;
  word-wrap:break-word;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:411px;
  width:300px;
  height:85px;
}
#u195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:85px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
}
#u195_input:disabled {
  color:grayText;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:center;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:411px;
  width:145px;
  height:85px;
  font-size:36px;
  text-align:center;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:145px;
  word-wrap:break-word;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:784px;
  width:172px;
  height:76px;
}
#u197_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:76px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:710px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:186px;
  width:5px;
  height:705px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:784px;
  width:172px;
  height:76px;
}
#u199_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:76px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:1346px;
  top:231px;
  width:198px;
  height:80px;
}
#u200_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:20px;
  font-size:28px;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u202_img.selected {
}
#u202.selected {
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:139px;
  height:20px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-6px;
  width:134px;
  white-space:nowrap;
}
#u201_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:178px;
  height:20px;
  font-size:28px;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:156px;
  height:20px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-6px;
  width:151px;
  white-space:nowrap;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:178px;
  height:20px;
  font-size:28px;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:156px;
  height:20px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-6px;
  width:151px;
  white-space:nowrap;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:178px;
  height:20px;
  font-size:28px;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:156px;
  height:20px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-6px;
  width:151px;
  white-space:nowrap;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:167px;
  width:406px;
  height:76px;
}
#u210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:76px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
